@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@theme {
  --font-family-sans: 'Plus Jakarta Sans', sans-serif;
}

@layer utilities {
  .toast {
    transform: translateY(100px);
    opacity: 0;
  }

  .toast.show {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s;
  }
}

[data-tab] {
  display: none;
}

[data-tab].active {
  display: block;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
